@font-face {
  font-family: 'Gloock', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Gloock", "Arial", sans-serif;
  font-size: 50px;
}

p {
  font-family: "Gloock", "Arial", sans-serif;
  font-size: 18px;
}

.about {
  display: flex;
  align-content: center;
}

.logo {
  margin-bottom: 23px
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 240px 0;
}

.button:link,
.button:visited {
  color: gray;
  text-decoration: none;
}

.button:hover,
.button:visited:hover {
  color: black;
  text-decoration: none;
}

.button:active,
.button:visited:active {
  color: #5F9EA0;
  text-decoration: none;
}

.pressedButton:link,
.pressedButton:visited {
  color: #008B8B;
  text-decoration: none;
}

.navigation ul {
  font-size: 0.975em;
  font-family: "Gloock", "Arial", sans-serif;
  font-weight: normal;
  list-style-type: none;
}

.navigation li {
  padding-bottom: 20px
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  justify-content: flex-start;
  align-content: flex-start;
  flex: initial;
  margin-left: 61px;
  margin-top: 58px;
  margin-right: 100px;
}

.main {
  display: flex;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.column img {
  width: 480px;
  margin-bottom: 30px;
}

.portfolio img {
  width: 1550px;
  margin-bottom: 30px;
  margin-right: 61px
}
