h1 {
    text-align: center;
}

h1 {
    background-image: url("http://i.imgur.com/UCnRjmK.png")
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {

    font-family: Verdana, Geneva, sans-serif;
    font-size: 80px;

}

h1.thick {
    font-weight: bold;
}

p {

    font-family: Verdana, Geneva, sans-serif;

}

p {
    border-left: 5px solid #31E5CD;
}
