body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/b0/e5/49/b0e549c2daab13354fead52d142efa0c.jpg")
}

h1 {

    font-family: Verdana, Geneva, sans-serif;
    font-size: 40px;

}

h1.thick {
    font-weight: bold;
}

p {

    font-family: Verdana, Geneva, sans-serif;

}

p {
    border-left: 5px solid #31E5CD;
    background-color: white;
}
