h1 {
    color: white;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 80px;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, sans-serif;
}

p {
    border-left: 5px solid #31E5CD;
}
